<div class="page-header">
  <h1>
    {{#link-to 'character' model}}
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      {{model.name}}
    {{/link-to}}
  </h1>
</div>

{{outlet}}